:root{
    --primary-color : #FFF;
    --secondary-color : #d6d6d6;
    --background-color : rgb(40, 40, 40);
    --light-background-color : rgba(255, 255, 255,.1);
    --brand-color : rgba(235, 87, 87, 0.9);
}
*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* loader */

.loader{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding-bottom: 10rem;
    text-align: center;
}
.loader img{
    width: 15rem;
    margin: 0 auto;

}
.loader p{
    font-size: .9rem;
    margin-top: 1rem;

}



/* commun */

html{
    font-family: Monaco, Menlo, 'Fira Mono', monospace;
    background-color: var(--background-color);
    color: var(--primary-color);
   
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width:75rem;
    margin: 0 auto;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
button, input{ 
    background-color: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    display: block;
    width: 100%;

}

button{
    cursor: pointer; 
}

/* header section */

header{
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 1rem 0 .7rem ;
    z-index: 3;
    background: var(--background-color);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
   
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1.5rem 0;
    max-width:75rem;
    margin: 0 auto;
   
}

header .logo{
    width: 10rem;
    position: relative; 
    z-index: 3;
    padding: 0;

}
form{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 12rem;
    width: 100%;
    background-color: var(--background-color);
    box-shadow: 0 0 3px var(--light-background-color);
    display:flex;
    justify-content: space-between;
    align-items: center;  
    opacity: 0;
    pointer-events: none;

}
.hamburger-activated form{
    pointer-events: unset;
    opacity: 1;
    
}
form input, form button{
   
    background-color:var(--light-background-color);
    border-radius: 16px;
    margin: 5.5rem 1rem 2rem 1rem;
    padding: .5rem 1rem;
    transform: translate(-3rem);
    opacity: 0;
    
}
form input::placeholder{
    color: var(--secondary-color);
}
form button{
    background: var(--brand-color);
    margin-left: .5rem;
    width: 3rem;
    transform: translate(3rem);
}
#hamburger-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 0;
    cursor: pointer;
    width: 45px;
    position: relative; 
    z-index: 3;
    height: 45px;
}
.hamburger-activated button, 
.hamburger-activated input{
    transform: translateX(0);
    opacity: 1;
    transition: transform .4s .2s ease, opacity .4s .2s ease;
}

#hamburger-button .bar::before,
#hamburger-button .bar::after,
#hamburger-button .bar {
    display: block;
    height: 4px;
    background: #EB5757;
    margin: 0 auto;
    border-radius: 10px;
    pointer-events: none;
}
#hamburger-button .bar {
    width: 45px;
    position: relative; 
}

#hamburger-button .bar::before,
#hamburger-button .bar::after {
    content: '';
    position: absolute;
}
#hamburger-button .bar::before {
    top: -12px;
    width: 30px;
}
#hamburger-button .bar::after {
    top: 12px;
    width: 20px;
}


.hamburger-activated #hamburger-button .bar{
    background-color: transparent;
}

.hamburger-activated #hamburger-button .bar::before {
    transform: rotate(45deg);
    width: 45px;
    top: 0;

}
.hamburger-activated #hamburger-button .bar::after {
    transform: rotate(-45deg);
    top: 0;
    width: 45px;
   
}



/* main section */

main{
    padding: 6rem 1rem 1rem;
}
#filterDetails{
    display: flex;
    justify-content: space-between;
    padding:1.5rem 0 ;
}



#cards .card{
    margin-bottom: 1rem;
}
#cards .img{
    overflow: hidden;
    height: 14rem;   
}
#cards .img img{
    transition: transform .5s ease;
}
#cards .img img:hover{
    
    transform: scale(1.2);
}

#cards .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 3rem;
    color: var(--secondary-color);
    font-size: .66rem;
    
}
#cards .details i{
    color: var(--brand-color);;
}
#cards .superhost{
    border: 1px solid var(--secondary-color);
    border-radius: 12px;
    padding: .3rem;
    color: var(--secondary-color);
}
#cards h2{
    font-size: 1rem;
}
.error {
    margin: -3rem auto 0 auto;
    grid-column: 1 / span 3;
    text-align: center;
    position: relative;
    
}
.error .text{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;
}
.error p{
    margin: 1rem 0;

}
.error img{
   
    opacity: .1;
}

/* footer */
footer{
    width: calc(100% - 2rem);
    border-top: 1px solid #4F4F4F;
    margin: 2rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer img{
    width: 60%;
    margin: 1rem auto;
}
footer i{
    cursor: pointer;
    transition: .3s color ease;
}
footer i:hover{
    color: var(--brand-color);
}
/* responsive */

@media only screen and (min-width:281px){
    #cards .details {
        font-size: .7rem;
    }
    @media only screen and (min-width:700px){
        
        #hamburger-button{
            display: none;
        }
        form{
            height: auto;
            opacity: 1;
            flex: none;
            width: 20rem;
            margin: .7rem 0 0 0;
            padding: 0 -.3rem;
            position: static;
            box-shadow:none;  
            pointer-events: auto;
        }
       
        form input, form button{
            opacity: 1;
            transform: translateX(0);
            margin: 0 0 0 .5rem;
        }
       
        #cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem ;
        }
        #cards .card {
            margin-bottom: 0;
        }
        .error {
            width: 50%;
            
        }
        
        @media only screen and (min-width:1024px){
            #cards{
                grid-template-columns: 1fr 1fr 1fr;
            }
            
        }
    }
    
}
